@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: local("Dana"),
      url("../public/fonts/dana/dana\ regular.ttf") format(".ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: local("Dana Medium"),
      url("../public/fonts/dana/dana\ medium.ttf") format(".ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana DemiBold";
    src: local("Dana DemiBold"),
      url("../public/fonts/dana/dana\ demibold.ttf") format(".ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Bold";
    src: local("Dana Bold"),
      url("../public/fonts/dana/dana\ bold.ttf") format(".ttf");
    font-display: swap;
  }
}
